{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Accueil</h1>
		<div class="cards d-flex justify-content-center">
			<div class="card text-white bg-primary mb-3 mt-3 me-3" style="max-width: 20rem;">
				<div class="card-header text-center">Immeubles</div>
				<div class="card-body">
					<h4 class="card-title text-center">
						<i class="fa-solid fa-building fa-fade"></i>
					</h4>
					<p class="card-text text-center">
						<button type="button" class="btn btn-primary">
							<a href="{{ path('immeubles') }}" class="text-decoration-none text-light">Recherche Immeubles</a>
						</button>
					</p>
				</div>
			</div>
			<div class="card text-white bg-primary mb-3 mt-3 me-3" style="max-width: 20rem;">
				<div class="card-header text-center">Contacts</div>
				<div class="card-body">
					<h4 class="card-title text-center">
						<i class="fa-solid fa-address-book fa-flip"></i>
					</h4>
					<p class="card-text text-center">
						<button type="button" class="btn btn-primary">
							<a href="{{ path('contacts') }}" class="text-decoration-none text-light">Recherche Contacts</a>
						</button>
					</p>
				</div>
			</div>
			<div class="card text-white bg-primary mb-3 mt-3 me-3" style="max-width: 20rem;">
				<div class="card-header text-center">Adresses</div>
				<div class="card-body">
					<h4 class="card-title text-center">
						<i class="fa-solid fa-location-dot fa-bounce"></i>
					</h4>
					<p class="card-text text-center">
						<button type="button" class="btn btn-primary">
							<a href="#" class="text-decoration-none text-light">Recherche Contacts</a>
						</button>
					</p>
				</div>
			</div>
			<div class="card text-white bg-primary mb-3 mt-3 me-3" style="max-width: 20rem;">
				<div class="card-header text-center">Sociétés</div>
				<div class="card-body">
					<h4 class="card-title text-center">
						<i class="fa-solid fa-user-tie fa-beat"></i>
					</h4>
					<p class="card-text text-center">
						<button type="button" class="btn btn-primary">
							<a href="{{ path('societes') }}" class="text-decoration-none text-light">Recherche Sociétés</a>

						</button>
					</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
