<form method="post" action="{{ path('immeuble_contact_delete', {'IDImmeubleContact': immeuble_contact.IDImmeubleContact}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immeuble_contact.IDImmeubleContact) }}">
	<button class="btn">Delete</button>
</form>
