<form method="post" action="{{ path('immeuble_contact_delete', {'IDImmeubleContact': immeuble_contact.IDImmeubleContact}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer association immeuble avec le contact ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immeuble_contact.IDImmeubleContact) }}">
	<button class="btn">Supprimer</button>
</form>
