<form method="post" action="{{ path('civilite_delete', {'IDCivilite': civilite.IDCivilite}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ civilite.IDCivilite) }}">
	<button class="btn">Delete</button>
</form>
