{% extends 'base.html.twig' %}

{% block title %}Edit TypeVoie
{% endblock %}

{% block body %}
	<h1>Edit TypeVoie</h1>

	{{ include('type_voie/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('types_voie') }}">back to list</a>

	{{ include('type_voie/_delete_form.html.twig') }}
{% endblock %}
