{% extends 'base.html.twig' %}

{% block title %}Créer un Type de Voie
{% endblock %}

{% block body %}
	<h1>Créer un Type de Voie</h1>

	{{ include('type_voie/_form.html.twig') }}

	{# <a href="{{ path('types_voie') }}">back to list</a> #}
{% endblock %}
