{% extends 'base.html.twig' %}

{% block title %}
	Projet Immo | Immeuble
{% endblock %}

{% block body %}
	<section class="section-immeuble">
		{% include 'shared/_btnreturn.html.twig' %}
		<h1>Immeuble :
			{{ immeuble.id }}</h1>
		<div
			class="row">
			<!-- Immeuble -->
			<div class="card border-info w-50 m-5">
				<div class="card-header">{{ immeuble.description }}</div>
				<div class="card-body text-center">
					<img src="https://picsum.photos/200/200" class="img-fluid w-50 rounded mx-auto d-block" alt="Image de l'immeuble">
					<h4 class="card-title">{{ immeuble.referenceProprio }}</h4>
					{% if immeuble.vendu == 0 %}
						<p class="card-text">Vendu : Non</p>
					{% elseif immeuble.vendu == 1 %}
						<p class="card-text">Vendu : Oui</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock body %}
