/*** GENERALITES ***/



body {
    background: rgb(255,254,254);
    background: linear-gradient(24deg, rgba(255,254,254,1) 24%, rgba(9,211,170,1) 100%);
   
}

.custom-navbar{
    width: 50%;border-radius: 20px;margin-left: 25%;
}

.fixed-table-toolbar{
    background-color:white;
    border-radius: 15px;
    padding: 1%;
    border: 1px solid #37d2b4;

}
.fixed-table-container {
    margin-top:2%;
}

.navbar.bg-light {
    border-color: transparent !important;
    background-color: transparent !important;
  }

.navbarnoneborder {
    border-style: unset !important;
}

.btn-light {
    color: #fff;
    background-color: #f6f6f6 !important;
    border-color: #37d2b4  !important;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    color: #158cba !important;
    background: rgb(255,254,254);
    background: linear-gradient(24deg, rgba(255,254,254,1) 24%, rgba(9,211,170,1) 100%) !important;
    border-color: #37d2b4  !important;
    
}

.costomspacer{
    margin-right:15px !important;
}
.text-decoration-underline-remove{
    text-decoration: unset;
}