<form method="post" action="{{ path('suivi_par_delete', {'IDSuiviPar': suivi_par.IDSuiviPar}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi_par.IDSuiviPar) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
