<form method="post" action="{{ path('suivi_par_delete', {'IDSuiviPar': suivi_par.IDSuiviPar}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi_par.IDSuiviPar) }}">
	<button class="btn">Delete</button>
</form>
