{% extends 'base.html.twig' %}

{% block title %}Edit SuiviPar
{% endblock %}

{% block body %}
	<h1>Edit SuiviPar</h1>

	{{ include('suivi_par/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('suivis_par') }}">back to list</a>

	{{ include('suivi_par/_delete_form.html.twig') }}
{% endblock %}
