{% extends 'base.html.twig' %}

{% block title %}Modifier Suivi Par
{% endblock %}

{% block body %}
	{# <h1>Modifier Suivi Par</h1> #}

	{{ include('suivi_par/_form.html.twig', {'button_label': 'Modifier'}) }}

	{# <a href="{{ path('suivis_par') }}">back to list</a> #}

	{{ include('suivi_par/_delete_form.html.twig') }}
{% endblock %}
