<form method="post" action="{{ path('fonction_delete', {'IDFonction': fonction.IDFonction}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.IDFonction) }}">
	<button class="btn">Delete</button>
</form>
