<form method="post" action="{{ path('enquete_delete', {'IDEnquete': enquete.IDEnquete}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enquete.IDEnquete) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
