<form method="post" action="{{ path('enquete_delete', {'IDEnquete': enquete.IDEnquete}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enquete.IDEnquete) }}">
	<button class="btn">Delete</button>
</form>
