{% extends 'base.html.twig' %}

{% block title %}Edit Enquete
{% endblock %}

{% block body %}
	<h1>Edit Enquete</h1>

	{{ include('enquete/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('enquetes') }}">back to list</a>

	{{ include('enquete/_delete_form.html.twig') }}
{% endblock %}
