<form method="post" action="{{ path('adresse_delete', {'IDAdresse': adresse.IDAdresse}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.IDAdresse) }}">
	<button class="btn">Supprimer</button>
</form>
