{% extends 'base.html.twig' %}

{% block title %}Modifier l'Adresse
{% endblock %}

{% block body %}
	<h1>Modifier l'Adresse</h1>

	{{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}

	{# <a href="{{ path('adresses') }}">back to list</a> #}

	{{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
