<form method="post" class="float-end ms-1" action="{{ path('immeuble_delete', {'IDImmeuble': immeuble.IDImmeuble}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet immeuble ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immeuble.IDImmeuble) }}">
	<button class="btn btn-danger no-print">Supprimer</button>
</form>
