{% extends 'base.html.twig' %}

{% block title %}Edit Immeuble
{% endblock %}

{% block body %}
	<h1>Edit Immeuble</h1>

	{{ include('immeuble/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<div class="float-end ">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('immeubles') }}">Retourner à la liste</a>
		</button>
	</div>
	{{ include('immeuble/_delete_form.html.twig') }}
{% endblock %}
