{% extends 'base.html.twig' %}

{% block title %}Créer un Immeuble
{% endblock %}

{% block body %}
	<h1>Créer un Immeuble</h1>

	{{ include('immeuble/_form.html.twig') }}

	{# <a href="{{ path('immeubles') }}">back to list</a> #}
{% endblock %}
