<form method="post" class="float-end ms-1" action="{{ path('contact_delete', {'IDContact': contact.IDContact}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.IDContact) }}">
	<button class="btn btn-danger no-print">Supprimer</button>
</form>
