{% extends 'base.html.twig' %}

{% block title %}Modifier Origine Contact Immeuble
{% endblock %}

{% block body %}
	<h1>Modifier Origine Contact Immeuble</h1>

	{{ include('origine_contact_immeuble/_form.html.twig', {'button_label': 'Modifier'}) }}

	{# <a href="{{ path('origines_contact_immeuble') }}">back to list</a> #}

	{{ include('origine_contact_immeuble/_delete_form.html.twig') }}
{% endblock %}
