{% extends 'base.html.twig' %}

{% block title %}New OrigineContactImmeuble
{% endblock %}

{% block body %}
	<h1>Créer Origine Contact Immeuble</h1>

	{{ include('origine_contact_immeuble/_form.html.twig') }}

	{# <a href="{{ path('origines_contact_immeuble') }}">back to list</a> #}
{% endblock %}
