{% extends 'base.html.twig' %}

{% block title %}New Description
{% endblock %}

{% block body %}
	<h1>Créer Description</h1>

	{{ include('description/_form.html.twig') }}

	{# <a href="{{ path('descriptions') }}">back to list</a> #}
{% endblock %}
