<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>
			{% block title %}Projet Immo
			{% endblock %}
		</title>
		{% block stylesheet %}
			<link rel="stylesheet" href="{{ asset('css/base-style.css') }}">
			<link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
			<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
			<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/bootstrap-table.min.css' integrity='sha512-vaPSEKPBIWEWK+pGIwdLnPzw7S2Tr6rYVT05v+KN89YVpEJavFiY1dPzT+e1ZeyizjEPBicVxJ5QixXZw0Nopw==' crossorigin='anonymous'/>
			<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.css' integrity='sha512-0yYhCyiMB+6XOis4qvWA42kPkKb54+uMaOhbsta6m+aQ7cZOm5hzERPrRkkknlpEdoxVCwYui+yM0jRazpDFuA==' crossorigin='anonymous'/>
		{% endblock %}
		{% block javascripts %}
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js' integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js' integrity='sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js' integrity='sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/bootstrap-table.min.js' integrity='sha512-rZAhvMayqW5e/N+xdp011tYAIdxgMMJtKxUXx7scO4iBPSUXAKdkrKIPRu6tLr0O9V6Bs9QujJF3MqmgSNfYPA==' crossorigin='anonymous'></script>
			<script src="https://unpkg.com/tableexport.jquery.plugin@1.28.0/tableExport.min.js"></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js' integrity='sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.core.min.js' integrity='sha512-UhlYw//T419BPq/emC5xSZzkjjreRfN3426517rfsg/XIEC02ggQBb680V0VvP+zaDZ78zqse3rqnnI5EJ6rxA==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/polyfills.umd.js' integrity='sha512-gmqJDkLpXOuVrRDAQa8pWc+WReEL4hO0f07hcCjx9bayyt5YENnZP2MgeSgo5CaUb3feZu/JCEKf69EsFZcQhA==' crossorigin='anonymous'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.js' integrity='sha512-FBIq5JR/xY8/QXwzr6DiRgJj972NN4Ou+zSertNFChdEPsXlmcMeOWWuAcbVTu1Ip462Dwb73PUcCA1OihBfaQ==' crossorigin='anonymous'></script>
			{# <script src="asset(js/buildingsTableExport.js"></script> #}
			<script src="js/buildingsTable.js"></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/extensions/export/bootstrap-table-export.js' integrity='sha512-P/+GsfMkNQd8zMycqSNiG6YLhMRZycmcENnnoFr7e3lfw/qm21Q3xLWBnNrVjDIT/vqN8uisa1RBGJUCkdWPEQ==' crossorigin='anonymous'></script>
		{% endblock %}
	</head>
	<body style="">
		<header>
			{# <nav>
																																																																																				{% if is_granted('ROLE_ADMIN') %}
																																																																																					<a href="{{ path('admin_home')}}" class="nav-admin nav-animated">Page Admin</a>
																																																																																				{% endif %}
																																																																																														</nav> #}
			{% include "shared/_navbar.html.twig" %}
		</header>
		<div class="container pt-5"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
</div></html>
