{% extends 'base.html.twig' %}

{% block title %}Modifier Pays
{% endblock %}

{% block body %}
	<h1>Modifier Pays</h1>

	{{ include('pays/_form.html.twig', {'button_label': 'Modifier'}) }}

	{# <a href="{{ path('pays') }}">back to list</a> #}

	{{ include('pays/_delete_form.html.twig') }}
{% endblock %}
