{% extends 'base.html.twig' %}

{% block title %}Créer un Pays
{% endblock %}

{% block body %}
	<h1>Créer un Pays</h1>

	{{ include('pays/_form.html.twig') }}

	{# <a href="{{ path('pays') }}">back to list</a> #}
{% endblock %}
