{% extends 'base.html.twig' %}

{% block title %}Modifier l'Opportunité
{% endblock %}

{% block body %}
	<h1>Modifier l'Opportunité</h1>

	{{ include('opportunite/_form.html.twig', {'button_label': 'Update'}) }}

	{# <a href="{{ path('opportunites') }}">back to list</a> #}

	{# {{ include('shared/_btnreturn.html.twig') }} #}

{{ include('opportunite/_delete_form.html.twig') }}{% endblock %}
