<div id="returnTable" class="mt-5 mb-3">
	<button id="btnToReturn" class="btn btn-light">
		<a href="{{ path('immeubles') }}" class="text-decoration-none">
			<i class="fa-solid fa-arrow-left-long"></i>
			Retourner au Tableau</a>
	</button>
</div>
