<button id="btnToReturn" class="btn btn-light mb-5">
	<a href="javascript:history.go(-1)" class="text-decoration-none">
		<i class="fa-solid fa-arrow-left-long"></i>
		Retourner au Tableau</a>
</button>
