<nav class="navbar navbar-expand-lg bg-light custom-navbar" data-bs-theme="light">
	<div class="container-fluid">
		<!--a class="navbar-brand" href="#">Projet Immo</a-->
		{# <button class="navbar-toggler no-print" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
																																																																					<span class="navbar-toggler-icon"></span>
																																																																				</button> #}
			<nav class="navbar navbarnoneborder d-flex justify-content-center mx-auto"> <form
				class="form-inline">
				{# <button class="btn btn-light no-print btn-lg" type="button">
																																																																																																																																																																																																																																																																																																																																																																																																																					<a class="nav-link" href="/home">Accueil</a>
																																																																																																																																																																																																																																																																																																																																																																																																																				</button> #}
				<button class="btn btn-light no-print btn-lg no-print" type="button">
					<a class="nav-link" href="{{ path('immeubles') }}">Immeubles</a>
				</button>
				<button class="btn btn-light no-print btn-lg no-print" type="button">
					<a class="nav-link" href="{{ path('contacts') }}">Contacts</a>
				</button>
				{# <button class="btn btn-light no-print btn-lg" type="button">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<a class="nav-link" href="#">Adresses</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								</button> #}
				<button class="btn btn-light no-print btn-lg no-print" type="button">
					<a class="nav-link" href="{{ path('societes') }}">Sociétés</a>
				</button>
				<script>
					function printImmeuble() {
document.querySelector('#myTabContents').classList.remove('tab-content');
document.querySelector('#contact').classList.remove('tab-pane', 'fade');
document.querySelector('#activites').classList.remove('tab-pane', 'fade');
document.querySelector('#opportunites').classList.remove('tab-pane', 'fade');

const elements = Array.from(document.getElementsByClassName('d-none'));
elements.forEach((element) => {
element.classList.remove('d-none');
});

window.print();
window.close(location.reload());
}

function printContact() {
document.querySelector('#myTabContent').classList.remove('tab-content');

const elements = Array.from(document.getElementsByClassName('d-none'));
elements.forEach((element) => {
element.classList.remove('d-none');
});

window.print();
window.close(location.reload());
}

function printSociete() {
document.querySelector('#myTabContent').classList.remove('tab-content');

const elements = Array.from(document.getElementsByClassName('d-none'));
elements.forEach((element) => {
element.classList.remove('d-none');
});

window.print();
window.close(location.reload());
}

{# function printSelection() {
$.get("https://127.0.0.1:8000/immeubles/94654", function (data) {

var printWindow = window.open('', '', 'height=400,width=800');
printWindow.document.write('<html><head><title>DIV Contents</title>');
printWindow.document.write('</head><body >');
printWindow.document.write(data);
printWindow.document.write('</body></html>');
printWindow.document.close();

printWindow.print();
});
} #}
				</script>
			</form>
		</nav>
	</div>
</nav>
