<nav class="navbar navbar-expand-lg bg-light custom-navbar" data-bs-theme="light">
	<div class="container-fluid">
		<!--a class="navbar-brand" href="#">Projet Immo</a-->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<nav class="navbar navbarnoneborder d-flex justify-content-center mx-auto">
			<form class="form-inline">
				<button class="btn btn-light btn-lg" type="button"><a class="nav-link" href="{{ path('immeubles') }}">Immeubles</a></button>
				<button class="btn btn-light btn-lg" type="button"><a class="nav-link" href="{{ path('contacts') }}">Contacts</a></button>
				<button class="btn btn-light btn-lg" type="button"><a class="nav-link" href="#">Adresses</a></button>
				<button class="btn btn-light btn-lg" type="button"><a class="nav-link" href="#">Sociétés</a></button>
			</form>
		</nav>
	</div>
</nav>
